FAST2SMS_KEY=your_key_here
POLICE_PHONE=your_key_here
GEMINI_API_KEY=your_key_here
CAMERA_LOCATION=your_key_here
CAMERA_LAT=your_key_here
CAMERA_LNG=your_key_here
SUPABASE_URL=your_key_here
SUPABASE_KEY=your_key_here
